
.sec1{
    height: 65vh;
}

form{
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    width: 25vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.7vw;
    margin-bottom: 4vh;
}

.descricao{

    display: flex;
    flex-direction: column;
}

.descricao label{

    color: #212529;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 1vh;
}

.descricao input{

    background-color: #F8F9FA;
    width: 38vh;
    height: 6vh;
    border: 2px solid #F8F9FA;
    border-radius: 5px;
    padding-left: 1vh;
    margin-bottom: 1vh;
}

.descricao input::placeholder{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.descricao span{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    color: #868E96;
}

.valor-e-tipo{

    display: flex;
}

.inputs__valor{
    display: flex;
    flex-direction: column;
    margin-bottom: 1vh;
}

.inputs__valor label{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;

    color: #212529;
    margin-bottom: 1vh;
}

.inputs__valor input{
    width: 15vh;
    height: 6vh;
    border-radius: 5px;
    padding: 0px, 16px, 0px, 16px;

    border: 2px solid #F8F9FA;
    background-color: #F8F9FA;
}

.inputs__valor--number{
    margin-right: 3vw;

}

.inputs__valor select{

    width: 15vh;
    height: 6vh;
    border-radius: 5px;
    padding: 0px, 16px, 0px, 16px;

    border: 2px solid #F8F9FA;
    background-color: #F8F9FA;
    color: #868E96;
}

form button{

    background-color: #FD377E;
    border: 2px solid #FD377E;
    color: #FFFFFF;
    border-radius: 5px;

    width: 38vh;
    height: 6vh;
}

/*__________________________________*/

.valorEmConta{
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    width: 25vw;
    height: 9vw;
    display: flex;
    flex-direction: column;

    padding: 3vh;
}

.valorEmConta--header{

    display: flex;
    justify-content: space-between;
}

.valorEmConta--header h3{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #212529;
}

.valorRend {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #FD377E;
}

.valorEmConta p{

    margin-top: 2vh;
    color: #5B6166;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
}